<h4>Album Name: <%= @album.name %></h4>

<p><button type="submit" class="btn"><a href="/albums/<%= @album.id %>/edit">Edit album</a></button></p>
<p><button type="submit" class="btn"><a href="/albums">Return to album list</a></button></p>
