.favorite-people, .favorite-places, .favorite-seasons, .life-goals{
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
}

.favorite-people {
  width: 100%;
  height: 300px;
  background-image: url('family.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.favorite-place {
  width: 100%;
  height: 300px;
  background-image: url('places.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.favorite-season {
  width: 100%;
  height: 300px;
  background-image: url('Changing-Seasons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.life-goals {
  width: 100%;
  height: 300px;
  background-image: url('time.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: grey;
}
